<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Library Management</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'book_list' %}">Books</a></li>
                <li><a href="{% url 'member_list' %}">Members</a></li>
                <li><a href="{% url 'add_book' %}">Add Book</a></li>
                <li><a href="{% url 'search_books' %}">Search Books</a></li>
                <li><a href="{% url 'import_books' %}">Import Books</a></li>
            
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ year }} Your Library Management</p>
    </footer>
</body>
</html>





